<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>TestApp04</title>
=======
  <title>TestApp</title>
>>>>>>> 1b30ea54c440340c733e3fb02d0075140ba80a8a
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
